.clock {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 400px;
    width: 400px;

    border-radius: 100%;
    background: #ffffff;
    /*font-family: "Montserrat";*/
    border: 5px solid white;
    box-shadow: inset 2px 3px 8px 0 rgba(0, 0, 0, 0.1);
}

.wrap {
    overflow: hidden;
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 100%;
}

.minute,
.hour {
    position: absolute;
    height: 100px;
    width: 6px;
    margin: auto;
    top: -27%;
    left: 0;
    bottom: 0;
    right: 0;
    background: black;
    transform-origin: bottom center;
    transform: rotate(0deg);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    z-index: 1;
}

.minute {
    position: absolute;
    height: 130px;
    width: 4px;
    top: -38%;
    left: 0;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.4);
    transform: rotate(90deg);
}

.second {
    position: absolute;
    height: 90px;
    width: 2px;
    margin: auto;
    top: -26%;
    left: 0;
    bottom: 0;
    right: 0;
    border-radius: 4px;
    background: #FF4B3E;
    transform-origin: bottom center;
    transform: rotate(180deg);
    z-index: 1;
}

.dot {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background: white;
    border: 2px solid #1b1b1b;
    /*border-radius: 100px;*/
    margin: auto;
    z-index: 1;
}


.digitalWrap {
    padding-top: 20px;
    background: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.digitalClock {
    height: 20vh;
    color: white;
    font-size: 22vh;
    font-family: sans-serif;
    line-height: 20.4vh;
    display: flex;
    position: relative;
    /*background: green;*/
    overflow: hidden;
}

.digitalClock::before, .digitalClock::after {
    content: '';
    width: 7ch;
    height: 3vh;
    background: linear-gradient(to top, transparent, black);
    position: absolute;
    z-index: 2;
}

.digitalClock::after {
    bottom: 0;
    background: linear-gradient(to bottom, transparent, black);
}

.digitalClock > div {
    display: flex;
}

.digitalTick {
    line-height: 17vh;
}

.digitalTickHidden {
    opacity: 0;
}
